* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
  padding: 0;
  background-color: #cfcadb;
}

.bottomDivider {
  width: 100%;
  height: 3px;
  background-color: #240345;
  margin-bottom: 10vh;
}

.topDivider {
  width: 100%;
  height: 3px;
  background-color: #240345;
  margin-top: 10vh;
}

.contentContainer {
  width: 80%;
  margin: auto;
  background-color: #ffffff;
  padding: 30px;
  text-align: justify;
  font-size: 14pt;
}

.gridItem {
  margin: 10% 10% 10% 10%;
}

.contentContainer h2 {
  font-size: 25pt;
  color: #3e0c6e;
}

.contentContainer h3 {
  font-size: 20pt;
  color: #3e0c6e;
}

.center {
  text-align: center;
}

.white {
  color: #ffffff;
}

.fasIcon {
  margin-right: 5px;
}

.map {
  height: 40vh;
}

.address * {
  margin-bottom: 10px;
}

.hidden {
  transform: translateX(-60vw);
}
